* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    align-items: center;
    padding: 10px 100px;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
}

ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    column-gap: 20px;
}

.top {
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 55px;
    gap: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.subtext {
    margin-bottom: 10px;
}

.placeholder {
    background-color: grey;
    height: 400px;
}

h1 {
    font-size: 48px;
}

button {
    padding: 7px 25px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: 0;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.container-two {
    display: flex;
    gap: 30px;
}

.title-text {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.pic {
    height: 160px;
    width: 160px;
    border: 5px solid #3882F6;
    border-radius: 8px;
}

.text {
    max-width: 150px;
    color: #1F2937;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 60px;
}

.quote {
    width: 700px;
    font-style: italic;
    font-size: 30px;
    color: #1F2937;
}

.author {
    margin-left: 600px;
    font-size: 18px;
    font-weight: bold;
    color: #1F2937;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px 60px;
    background-color: #3882F6;
    margin: 60px 600px;
    min-width: 600px;
    align-self: center;
    border-radius: 5px;
    gap: 100px;
}

.container-three {
    display: flex;
    flex-direction: column;
} 

.sign-up .text,
.title-signup {
    max-width: 600px;
    color: white;
}

.sign-up .buttons {
    min-width: 100px;
    border: 2px solid white;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 60px;
    margin-top: auto;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}